body {
    line-height: 1.8;
}

article li,article  p{
    margin-bottom: 10px;
}

#autocollapse .navbar-header {
    margin-left: 0;
    margin-right: 80px;
}

.navbar-brand{
    width: 180px;
    margin-right: 2rem;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover{
    color:inherit;
    background-color: inherit; 
}

.breadcrumb-container{
    margin-left: 1rem;
}

.breadcrumb-container{
    margin-left: 1rem;
}

.article img,
.article video {
    max-width: 100%;
    margin: 20px 0;
}

img.img-popup {
    cursor: pointer;
}

.mfp-iframe-holder .mfp-content{
    max-width: 1366px;;
}